/* CSS declarations go here */

body {
  font-family: sans-serif;
  background-color: white;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
 
  font-size: 14px;
}


#header {
     border-top:7px solid #505559;
     margin:0 auto;
     width:100%;
     background: #eee;
     height: 90px;
     padding: 20px 0;
     font: 12px arial, sans-serif;
 }
 
 #header h1 {
     margin-left: 30px; 
     float: left;
     width: 500px;
     height: 45px;
     font-family: "Times New Roman", Times, serif;
     font-size: 40px;
     font-align: center; 
     font-weight: bold;
 }
 
 #header form {
     float: right; 
     margin-right: 30px; 
     height: 40px; 
     padding-top: 8px;
 }
 
 #header form label {
     display: inline-block; 
     margin: 0 2px;
 }

 #over img {
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: auto;
  display: block;
}

 #over div {
  width: 100%;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align:center; 
  margin-bottom: 10px;
  display: inline-block;

}
 
 #header_container form input {}
 
 #header form #s-user, 
 #header form #s-pass {
     display: block;
     width: 250px;
     border: 1px solid #eee;
     padding: 3px 0 3px 0;
     margin-bottom: -1px;
 }
 
 #header form .submit {
     height: 40px;
     width: 80px; 
     vertical-align: bottom;
     text-align: center;
     background: #d743ae; 
     color: #fff;
     border: 1px solid #ddd;
     -moz-border-radius: 5px;    
     border-radius: 5px;
     margin-right: 20px;
     }

.link {
  height: 40px;
  width: 100px; 
  vertical-align: bottom;
  text-align: center;
  background: #d743ae; 
  color: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;    
  border-radius: 5px;
  margin-right: 20px;
}


#table{
    width:100%;
    display:table;
}

#top {
    display: table-cell;
    position: relative;
    width:100%;
    height: 100px;
    background-color: #008080;
    vertical-align:middle;
}
#top h2{
    text-shadow: 2px 2px black;
    text-align: center;
    color: white;
    font-family:"Impact";
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}



#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  text-align:center; 
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

/*form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}*/

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}